<a href="https://colab.research.google.com/github/Echevarriaj93/gradwork2022/blob/main/Jose_Echevarria_Assignment4_Advanced_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Advanced Pandas Study Unit

These coding questions are designed to test whether you are ready to move on to the remainder of this course. They test your knowledge of advanced use of pandas (what you learned in this study unit).

Please make sure:
- you read and follow the instructions and comments closely;
- you do not change the provided code in anyway;
- you DO NOT copy any code from any source;
- you provide enough comments/pseudo code for your code.

## Import Dependencies

In [ ]:
import pandas as pd
import numpy as np

## Loading the dataset

The data were obtained in a survey of students math and portuguese language courses in secondary school. It contains a lot of interesting social, gender and study information about students. You can use it for some EDA or try to predict students final grade. 

You can refer to the [data page](https://www.kaggle.com/uciml/student-alcohol-consumption) for the data dictionary.

In [ ]:
data_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'

student_df = pd.read_csv(data_url)
student_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

## Task 1: Group Your Data (15 points)

In data analytics, segmenting your data into different sub-groups based on some feature(s) is a common practice, particularly in the EDA phase. These activities are usually exploratory in nature, to answer some analytical questions in your dataset. 

In this particular task, you are going to use ``.groupby()`` to answer following questions.


### Q1. What are the __average__ final grade (``G3``) based on different genders (``sex: M/F``)?

In [ ]:
# Write your code here
student_df.groupby('sex')['G3'].mean() #Group by sex and find the mean of final grade

sex
F     9.966346
M    10.914439
Name: G3, dtype: float64

### Q2. What are the __average__ final grade (``G3``) based on whether the students have Internet access at home (``internet: yes/no``)?

In [ ]:
# Write your code here
student_df.groupby('internet')['G3'].agg(np.mean) #group by those with internet or not

internet
no      9.409091
yes    10.617021
Name: G3, dtype: float64

### Q3. What are the __total__ absences (``absences``) across different schools (``school: GP/MS``)?

In [ ]:
# Write your code here
student_df.groupby('school')['absences'].agg(np.sum) #group by school they go to and absences

school
GP    2082
MS     173
Name: absences, dtype: int64

### Q4. What are the __average__ quality of family relationships (``famrel``) on different family sizes (``famesize``) __and__ parent's cohabitation status (``Pstatus: T/A``, T - living together, A - apart)?

__HINT__: you need to pass a _list_ of features to ``.groupby()``. Note that the order of the list matters.

In [ ]:
# Write your code here
student_df.groupby(['Pstatus','famsize'])['famrel'].mean() #Easier to read with Pstatus first

Pstatus  famsize
A        GT3        3.666667
         LE3        4.100000
T        GT3        3.980769
         LE3        3.872340
Name: famrel, dtype: float64

So far you have been grouping your data based on some _categorical_ features. You should know that we can also group data based on _continuous_ features. Note that the latter is not as direct. 

To group data on _continuous_ features, we first need to convert them into _categorical_. We cam use the Numpy function ``np.where()`` for that.

First, let's convert free time after school (``freetime``) as a categorical feature (``ft_bin``). If ``freetime >2``, then set ``ft_bin`` as ``high``, otherwise ``low``.

In [ ]:
student_df['ft_bin'] = np.where(student_df.freetime > 2, 'high', 'low') # if greater than 2 high else low

 #checking to make sure results are correct
student_df['ft_bin'].head()

0    high
1    high
2    high
3     low
4    high
Name: ft_bin, dtype: object

In [ ]:
# we can test if above code and logic is correct
student_df[['freetime', 'ft_bin']].head(10)

   freetime ft_bin
0         3   high
1         3   high
2         3   high
3         2    low
4         3   high
5         4   high
6         4   high
7         1    low
8         2    low
9         5   high

Now we can use newly created ``ft_bin`` to study the question below.

### Q5. What is the __average__ weekly study time (``studytime``) on difference in free time after school (``ft_bin``)?

In [ ]:
# Studytime grouped by level of freetime
student_df.groupby('ft_bin')['studytime'].mean()

ft_bin
high    2.009615
low     2.132530
Name: studytime, dtype: float64

## Task 2: Create New Features based on Existing Features (again) (10 points)

Another popular task we perform toward the data is to create new feature(s) based on existing features. In the last part of the assignment (assignmet3), we did some of feature creation. Now we are going to perform more by applying functions to the DF.

### 2.1: Capitalize reason to choose this school (``reason``) as a new column (``reason_cap``) and student's guardian (``guardian``) as a new column (``guardian_cap``).

We can use the string method ``.upper()`` for that purpose. 

```python
'text'.upper() # TEXT
```

In [ ]:
#We need str to apply upper() to a series.
student_df['reason_cap'] = student_df['reason'].str.upper()

student_df['guardian_cap'] = student_df['guardian'].str.upper()
# test if above is correct
student_df[['reason', 'reason_cap', 'guardian', 'guardian_cap']].head()

   reason reason_cap guardian guardian_cap
0  course     COURSE   mother       MOTHER
1  course     COURSE   father       FATHER
2   other      OTHER   mother       MOTHER
3    home       HOME   mother       MOTHER
4    home       HOME   father       FATHER

### 2.2: Create a new feature (``Pwork``) use following rules.

If both parent do not have a job (``(Mjob == 'at_home') and (Fjob == 'at_home')``), the set the value of ``Pwork`` as ``'no'``, otherwise ``'yes'``.

In [ ]:
# We use & instead of 'and' in np.where to use two conditions. Also | for 'or'

student_df['Pwork'] = np.where((student_df.Mjob == 'at_home') & (student_df.Fjob == 'at_home'), 'no', 'yes')# complete your code here
# test if above is correct
student_df[['Mjob', 'Fjob', 'Pwork']].head(20)

#checking the no values
# student_df[student_df['Pwork'] == 'no']

        Mjob      Fjob Pwork
0    at_home   teacher   yes
1    at_home     other   yes
2    at_home     other   yes
3     health  services   yes
4      other     other   yes
5   services     other   yes
6      other     other   yes
7      other   teacher   yes
8   services     other   yes
9      other     other   yes
10   teacher    health   yes
11  services     other   yes
12    health  services   yes
13   teacher     other   yes
14     other     other   yes
15    health     other   yes
16  services  services   yes
17     other     other   yes
18  services  services   yes
19    health     other   yes

## Task 3: Pivot Tables (15 points)

We use MS Excel and other spreadsheet software to create __pivot tables__, which is an important reporting format to create report on your data. Pandas provides a ``.pivot_table()`` method for that purpose.

### 3.1 Investigate the average final grade (``G3``) by _first_ the extra educational support (``schoolsup``) and __then__ the family educational support (``famsup``).

In [ ]:
#Do they have school support, family support? Whihc have the higher avg final grades
student_df.pivot_table(index=['schoolsup','famsup'],values='G3', aggfunc='mean')

                         G3
schoolsup famsup
no        no      10.650000
          yes     10.500000
yes       no      10.538462
          yes      9.052632

__Q__: What can you summarize from above pivot table?

On average the students who are not receiving extra help from the school nor the parents have the higher grades on average. They could be self-motivated. Students with only one type of help are able to keep up. We see the lowest average for students getting both types of extra help but that is likely because they were performing worse in the first place and needed it.

### 3.2 Investigate the average final grade (``G3``) by _first_ if the student wants to take higher education (``higher``) and _then_ number of past class failures (``failures``).

In [ ]:
# We can visualize the split in final grade results between students that want higher educaiton
#and those that do not. We see their failures and the avg final grades.
student_df.pivot_table(index=['higher','failures'], values='G3', aggfunc='mean')

                        G3
higher failures
no     0          7.714286
       1          8.000000
       2          0.000000
       3          5.666667
yes    0         11.334426
       1          8.136364
       2          6.625000
       3          5.700000

__Q__: What can you summarize from above pivot table?

Students who want to go to college had higher grades despite failing the same number of times as their counterparts.

We can also create multi-level pivot tables - just like the multi-level groupby we performed earlier. Consider following task:

### 3.3 Investigate average final grade (``G3``) by _first_ different age groups (``age_grp``) and gender (``sex``) and _then_ high/low study time (``st_bin``).

To complete this task, first we have to create the features ``st_bin`` and ``age_grp``.

We can create ``st_bin`` similar to what we did [here](#scrollTo=yO7ap4btQM4C&line=1&uniqifier=1). We define the ``st_bin`` is ``'high'`` if ``studytime > 5``, otherwise ``'low'``.

In [ ]:
# New column where studytime > 5 is high and studytime <= 5 is low
student_df['st_bin'] = np.where(student_df['studytime'] > 5, 'high', 'low')

student_df['st_bin'].head()

#student_df[student_df['studytime'] >= 5] #none of the values exceed 4

0    low
1    low
2    low
3    low
4    low
Name: st_bin, dtype: object

We then need to create different age group (``age_grp``). Let's say among all the students' age, we equally split them into three groups. We can use the function ``pd.cut()`` for this purpose.

In [ ]:
student_df.columns #checking column names again

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3', 'ft_bin', 'reason_cap',
       'guardian_cap', 'Pwork', 'st_bin'],
      dtype='object')

In [ ]:
# Splitting age into 3 equal bins rounded to the nearest whole number
student_df['age_grp'] = pd.cut(student_df.age, 3, precision= 0)

student_df.age_grp.head()

0    (17.0, 20.0]
1    (15.0, 17.0]
2    (15.0, 17.0]
3    (15.0, 17.0]
4    (15.0, 17.0]
Name: age_grp, dtype: category
Categories (3, interval[float64, right]): [(15.0, 17.0] < (17.0, 20.0] < (20.0, 22.0]]

Now we can create the pivot table by using ``st_bin`` and ``age_grp`` plus ``sex``. Note that you should keep  ``age_grp`` and ``sex`` as a list.

In [ ]:
# Using study category, age group and sex as indexes against average final grades.
student_df.pivot_table(index=['st_bin','age_grp','sex'], values='G3', aggfunc= 'mean')

                                G3
st_bin age_grp      sex
low    (15.0, 17.0] F    10.266667
                    M    11.470149
       (17.0, 20.0] F     9.087719
                    M     9.428571
       (20.0, 22.0] F    15.000000
                    M    10.500000

__Q__: What can you summarize from above pivot table?

None of the students are in the "high" category for study time. 

Boys slightly outperformed girls in high school in the 15-17 bin.

In the 17-20 bin they both were nearly the same in performance. The difference is neglible.

In the 20-22 bin, females outperformaed males.

## Task 4: Split and Join (10 points)

Last but not the least, we often split DFs into sub-DFs. These splits can be one of the following two scenarios:

1. split on columns by different data types: in machine learning, we often treat continuous and categorical features separately, so we split them when preprocessing them and then join/merge them together.

2. split on rows by different values: sometimes we create sub DFs based on different values in a column - e.g., male_df and female_df by gender. Usually, we split the DF this way then we can compare them - e.g. train different models on different subsets of the data. Let's try on this one.

### 4.1 Split ``student_df`` based on extra paid classes witnin the course subject (``paid``). 

Keep paid students (``paid == 'yes'``) in a subset ``paid_df`` and unpaid students (``paid == 'no'``) in a subset ``unpaid_df``.

In [ ]:
# In one line setting the conditions respectively

paid_df , unpaid_df = student_df[student_df['paid'] == 'yes'], student_df[student_df['paid'] == 'no']

For instance, to compare if extra paid classes witnin the course subject has a significant effect on average final grade (``G3``), we can use the t-test for the purpose. Execute and observe the results from the following code and you might re-use the code in your own projects.

In [ ]:
from scipy import stats

paid_df.shape, unpaid_df.shape

((181, 39), (214, 39))

In [ ]:
unpaid_df_sample = unpaid_df.sample(n=181, random_state=42) #less students had paid so we need unpiad sample to match
unpaid_df_sample.shape #for the test both sets have to be the same shape

(181, 39)

In [ ]:
## Cross Checking with the internal scipy function
paid_grades = paid_df['G3']
unpaid_grades = unpaid_df_sample['G3']
t2, p2 = stats.ttest_ind(paid_grades,unpaid_grades)
print("t = " + str(t2))

#if p < 0.05 we can reject the null hypothesis
print("p = " + str(p2)) #the null hyptohesis assumes paid classes make no difference

t = 1.9827606626888783
p = 0.04815388677303937

From above results, we can see that the t-stat ``t > 1.96``, in the meanwhile the p-value ``p < 0.05``; thus, we can conclude that the extra paid classes do have a significant (at $p=0.05$ level) effect on the students' final grades.

__NOTE__: next time you want to report the difference between two sub groups, this is the correct way of doing so.

### 4.2: Join the sub dataframes back together as ``merged``.

In [ ]:
merged = pd.concat([unpaid_df, paid_df]) # concat at the row level since columns
#are the same
merged.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,absences,G1,G2,G3,ft_bin,reason_cap,guardian_cap,Pwork,st_bin,age_grp
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,6,5,6,6,high,COURSE,MOTHER,yes,low,"(17.0, 20.0]"
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,4,5,5,6,high,COURSE,FATHER,yes,low,"(15.0, 17.0]"
6,GP,M,16,U,LE3,T,2,2,other,other,...,0,12,12,11,high,HOME,MOTHER,yes,low,"(15.0, 17.0]"
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,6,6,5,6,low,HOME,MOTHER,yes,low,"(15.0, 17.0]"
11,GP,F,15,U,GT3,T,2,1,services,other,...,4,10,12,12,low,REPUTATION,FATHER,yes,low,"(15.0, 17.0]"

In [ ]:
merged.paid.head(250)

0      no
1      no
6      no
7      no
11     no
     ...
68    yes
70    yes
74    yes
75    yes
77    yes
Name: paid, Length: 250, dtype: object

Note that comparing to the original ``student_df``, in ``merged`` the first $181$ rows are students taking extra paid classes, the rest of the DF are students not extra paid classes. 

That is all for this assignment. Please submit this work when you are done.